.DS_Store
.cache
*.swp
*.swo
/dist
/work
/build
*.csv
*.dat
*.out
*xunit.xml
*.seed

# NPM / Grunt / Bower
bower_components
node_modules
.npm-debug.log
tmp

# IDE's
*.tmproj
.idea
.project
*.sublime*

# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed

# Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
.grunt

# node-waf configuration
.lock-wscript

# Compiled Template Files:
*.dust.js
*.hbs.js
*.less.css
